.login-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
}

.login-form {
    width: 300px;
    border: 1px purple;
    border-radius: 10px;
    background-color: pink;
    padding: 10px;
    display: flex;
    flex-direction: column;
}